@model RecipesSystem.Models.Chef

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chef</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipes)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Recipe Title</th>
                    <th>Recipe Content</th>
                </tr>
                @foreach (var item in Model.Recipes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChefID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
